
/**
 * На прямую не редактировать
 * Сгенерировано через скрипт generate-tokens
 */

$breakpoints-sm: 720px !default;
$breakpoints-md: 1024px !default;
$breakpoints-lg: 1360px !default;
$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-blue: #0000ff !default;
$color-green: #008000 !default;

$tokens: (
  'breakpoints': (
    'sm': $breakpoints-sm,
    'md': $breakpoints-md,
    'lg': $breakpoints-lg
  ),
  'color': (
    'black': $color-black,
    'white': $color-white,
    'blue': $color-blue,
    'green': $color-green
  )
);
